* {
  margin: 0;
  padding: 0;
  /* リセットCSS */
  box-sizing: border-box;
}


/* ヘッダー */
header {
  display: flex;
  /*　水平方向に指定  */
  justify-content: space-between;
  align-items: center;
  width: 70%;
  height: 180px;
  margin: 0 auto;
  padding: 0 4%;
}

.head-title {
  font-size: 2rem;
}

header ul {
  display: flex;
}

.menu {
  list-style: none;
  margin-left: 30px;
}



/*　メイン  */
.mainphoto {
  margin-bottom: 50px;
}

main img {
  width: 100%;
  height: 420px;
  /* ライズからはみ出た部分をカット */
  object-fit: cover;
}

.title {
  font-size: 1.5rem;
  text-align: center;
  margin-bottom: 30px;
  font-weight: bold;
}


/* About */
.about {
  width: 70%;
  padding: 0 4%;
  margin: 0 auto 130px;
}

.about li {
  list-style: none;
}

/* １行目の後ろのみ余白 */
.about li:first-child {
  margin-bottom: 30px;
}

.about ul {
  margin-bottom: 30px;
}


/* Flower */
.flower {
  width: 70%;
  margin: 0 auto 130px;
}

.grid {
  display: grid;
  gap: 26px;
  grid-template-columns: 1fr 1fr 1fr;
}

.item img {
  width: 100%;
  height: 300px;
}


/* News */
.news {
  width: 70%;
  margin: auto;
}

.news dl {
  display: flex;
  flex-wrap: wrap;
  border-top: solid 1px #c8c8c8;
  margin-bottom: 130px;
}

.news dt {
  width: 20%;
  border-bottom: solid 1px #c8c8c8;
  padding: 15px;
}

.news dd {
  width: 80%;
  border-bottom: solid 1px #c8c8c8;
  padding: 15px;
}


/* Contact */
.contact {
  width: 70%;
  height: 70%;
  margin: auto;
}

.contact dl {
  margin-bottom: 100px;
  display: flex;
  flex-wrap: wrap;
}

.contact dt {
  width: 20%;
}

.contact dd {
  width: 80%;
  margin-bottom: 10px;
}

.contact dd input {
  width: 100%;
  border: solid 1px #c8c8c8;
}

textarea {
  width: 100%;
  border: solid 1px #c8c8c8;
}

/* Footer */
footer {
  text-align: center;
  background-color: black;
  color: #fff;
}


/* レスポンシブ対応 */
@media (max-width: 600px) {
  
  /* ヘッダー */
  header {
    display: block;
    width: 100%;
    height: auto;
  }
  .head-title {
    margin-top: 10px;
    text-align: center;
  }
  header ul {
    margin-bottom: 20px;
    justify-content: space-around;
  }

  /* イメージ画像 */
  .mainphoto img {
    height: auto;
  }

  /* 画面横幅 */
  .about, .flower, .news, .contact {
    width: 90%;
  }

  /* Flower */
  .grid {
    display: grid;
    gap: 10px;
    grid-template-columns: 1fr 1fr;
  }
  .item img {
    width: 100%;
    height: auto;
  }
}