* {
  margin: 0;
  padding: 0;
  /* リセットCSS */
  box-sizing: border-box;
}


/* ヘッダー */
header {
  display: flex;
  /*　水平方向に指定  */
  justify-content: space-between;
  align-items: center;
  width: 70%;
  height: 180px;
  margin: 0 auto;
  padding: 0 4%;
}

.head-title {
  font-size: 2rem;
}

header ul {
  display: flex;
}

.menu {
  list-style: none;
  margin-left: 30px;
}



/*　メイン  */
.mainphoto {
  margin-bottom: 50px;
}

main img {
  width: 100%;
  height: 420px;
  /* ライズからはみ出た部分をカット */
  object-fit: cover;
}

.title {
  font-size: 1.5rem;
  text-align: center;
  margin-bottom: 30px;
}


/* About */
.about {
  width: 70%;
  padding: 0 4%;
  margin: 0 auto 130px;
}

.about li {
  list-style: none;
}

/* １行目の後ろのみ余白 */
.about li:first-child {
  margin-bottom: 30px;
}

.about ul {
  margin-bottom: 30px;
}


/* Flower */
.flower {
  width: 70%;
  margin: 0 auto 130px;
}

.grid {
  display: grid;
  gap: 26px;
  grid-template-columns: 1fr 1fr 1fr;
}

.item img {
  width: auto;
  height: 300px;
}